.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-content,
  .right-content {
    width: 100%; /* Adjust the width as needed */
  }
  
  .table-title {
    font-size: 14px;
    margin-bottom: 16px;
  }
  
  .user-table {
    
    max-width: 400px; /* Set maximum width to 200px */
    border-collapse: collapse;
  }
  
  .user-thead {
    background-color: #f0f0f0;
  }
  
  .user-tr {
    border-bottom: 1px solid #ddd;
  }
  
  .user-th,
  .user-td {
    padding: 12px;
    text-align: left;
  }
  
  .user-td button {
    margin-right: 8px;
  }
  
  .edit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  