.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F1F5F9;

    /* background: linear-gradient(to right ,rgb(141, 30, 151),#8c8c8c,white,white,#8c8c8c,rgb(141, 30, 151)) ; semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-logo {
    width: 300px; /* adjust size as needed */
    height: 300px; /* adjust size as needed */
    animation: spinY 2s linear infinite; /* Use spinY animation for rotating around Y-axis */
  }
  
  @keyframes spinY {
    from {
      transform: rotateY(0deg); /* Rotate from 0 degrees around Y-axis */
    }
    to {
      transform: rotateY(360deg); /* Rotate to 360 degrees around Y-axis */
    }
  }
  